@charset 'utf-8';

html,
body {
    height: 100%;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
}

.container {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    margin: 0 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;
    transform: scale(1.1); /* ホバー時に少し大きくする */
}

.tooltip {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%) translateY(-30px);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px; /* ヘッダー分のマージン */
}

.load {
    width: 30px;
    height: 10px;
    background-color: lemonchiffon;
    transition: height 1s ease;
    overflow: hidden;
    position: relative;
}

.load.expanded {
    height: 300px;
    width: 100%;
}

.profile-content, .works-content, .contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.load.expanded .profile-content.show,
.load.expanded .works-content.show,
.load.expanded .contact-content.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.profile-container {
    display: flex;
    align-items: center; /* 縦方向にセンタリング */
}

.profile-photo {
    margin-right: 20px; /* 画像と右側のコンテンツの間にスペースを追加 */
}

.profile-details {
    display: flex;
    margin-left: 20px;
    flex-direction: column; /* 縦に並べる */
}


.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h2, p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.load.expanded h2, .load.expanded p {
    opacity: 1;
    transform: translateY(0);
}

footer {
    height: 800px;
}
